// ## Cores
$cor-cartao: #2c343a;

$cor-fonte: #ffffff;

$cor-fonte-alt: #95999c;

$cor-links: #0480dc;

$cor-botao: #0480dc;

$sombras: 0px 4px 4px rgba(0, 0, 0, 0.16);

// ## Espaçamentos
$padding-botao: 8px;

$padding-body: 16px;

$margin-titulo: 24px;
